table {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.alignRight {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
