.container {
  display: grid;
  grid-template-columns: [col1] 15% [col2] 35% [col3] 25% [col4] 25% [colend];
  grid-template-rows: [row1] 50px [row2] auto [row3] 50px [rowend];
}

.header {
  grid-column-start: col1;
  grid-column-end: colend;
  grid-row-start: row1;
  grid-row-end: row2;
  background-color: black;
}

.favorites {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row2;
  grid-row-end: row3;
}

.content {
  grid-column-start: col2;
  grid-column-end: colend;
  grid-row-start: row2;
  grid-row-end: row3;
  padding: 0 5px;
}

.footer {
  grid-column-start: col1;
  grid-column-end: colend;
  grid-row-start: row3;
  grid-row-end: rowend;
}
