<div id="afont" *ngIf="font">
  <h1>{{ font.fontName }}</h1>
  <h2 [ngStyle]="{'font-family': font.faceName}">{{ font.fontName }}</h2>
  <marker [font]="font"></marker>
  <textarea rows="5" [ngStyle]="{'font-family': font.faceName}" spellcheck="false">{{defaultText}}</textarea>
  <h2>System Paths</h2>
  <ul>
    <li><strong>Font: </strong> <a href="#">{{ font.paths.font }}</a></li>
    <li><strong>Metadata: </strong> <a href="#">{{ font.paths.metadata }}</a></li>
    <li><strong>Woff: </strong> <a href="#">{{ font.paths.woff }}</a></li>
  </ul>
  <h2>MetaData</h2>
  <table class="metadata">
    <tr><th>Attribute</th><th>Value</th></tr>
    <tr><th>PostScript&nbsp;Name</th><td>{{font.postscriptname}}</td></tr>
    <tr><th>MD5 Sum</th><td>{{font.md5sum}}</td></tr>
    <tr><th>Foundry</th><td>{{font.foundry}}</td></tr>
    <tr><th>Font Format</th><td>{{font.fontformat}}</td></tr>
    <tr><th>Mime Type</th><td>{{font.mimeType}}</td></tr>
    <tr><th>Font Version</th><td>{{font.fontversion}}</td></tr>
    <tr><th>Last Modified</th><td>{{font.modified}}</td></tr>
    <tr><th>Is Color?</th><td>{{font.color}}</td></tr>
    <tr><th>Is Symbol?</th><td>{{font.symbol}}</td></tr>
    <tr><th>Is Decorative?</th><td>{{font.decorative}}</td></tr>
    <tr><th>Is Scalable?</th><td>{{font.scalable}}</td></tr>
    <tr><th>Has Outline?</th><td>{{font.outline}}</td></tr>
    <tr><th>Index</th><td>{{font.index}}</td></tr>
    <tr><th>Width</th><td>{{font.width}}</td></tr>
    <tr><th>Weight</th><td>{{font.weight}}</td></tr>
    <tr><th>Slant</th><td>{{font.slant}}</td></tr>
    <tr><th>File Info</th><td>{{font.fileInfo}}</td></tr>
  </table>
  <h2>Reported Languages</h2>
  <p>
    <span *ngFor="let lang of font.languages; last as l">
      {{lang}}<i *ngIf="!l">, </i>
    </span>
  </p>
  <h2>Styles</h2>
  <p>
    <span *ngFor="let style of font.style | keyvalue; last as l">
      {{style.value}}<i *ngIf="!l">, </i>
    </span>
  </p>
  <h2>Character Set</h2>
  <div class="chrset" *ngFor="let row of blockArray; index as i">
    <div *ngFor="let n of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
         [ngClass]="['lttr', 'lttr'+n]">
      <div *ngIf="font.charset[(i*10)+n]" class="cNum">%{{ font.charset[(i*10)+n].dec }} | &amp;#{{ font.charset[(i*10)+n].hex }};</div>
      <div *ngIf="font.charset[(i*10)+n]" class="cChr" [ngStyle]="{'font-family': font.faceName}">{{ font.charset[(i*10)+n].dec | dec2chr }}</div>
      <div *ngIf="font.charset[(i*10)+n]" class="cName">{{ font.charset[(i*10)+n].name }}</div>
    </div>
  </div>

</div>

