div.favs {
  padding-left: 10px;
}

a {
  color: maroon;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li:nth-child(2n+1) {
  background-color: gainsboro;
}
